@font-face {
    font-family: 'Montserrat-Bold';
    src: 
         url('/assets/fonts/Montserrat-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: 
         url('/assets/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body{
    color: #FFFAFA!important;
    font-family: 'Montserrat-Medium', sans-serif !important;
}


h4{
    font-family: 'Montserrat-Bold' , sans-serif !important;
}
.sidebar-dark{
    background-color: #000!important;
}

.navbar-dark{
    background-color: #000!important;
}

.backside{
    background-color: #FFFAFA!important;
    border: none;
}


/**PARTE CENTRAL*/

.margen-index{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.nombre-usuario-navbar, .rol-usuario{
    color: #FFFAFA;
    margin-right: 10px;
}